# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Node (jika suatu saat pakai npm)
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/

# Netlify
.netlify/

# Firebase
.firebase/
firebase-debug.log

# Build artifacts
dist/
build/
